*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.blg
*.bbl
*.pyc
*.dvi
*.end
*~
_*.tex
_*.pdf
_*.bib
_temp/
.DS_store
.ipynb_checkpoints/
qmpsNotes.bib
codes/.benchmarks/
output/
*.o
*.out
*.xdv
_local/
*.swp
Manifest.toml
*.synctex
*.bcf
*.4ct
*.4tc
*.css
*.html
*.idv
*.lg
*.tmp
*.xref
